body{
    background-color: #ffb92f;
}

h4{
    color: #6733e2;
    text-align: center;
    margin-top: 4rem;

}
.card{
    border-radius: 10px;
    background-color: #FFFF;
    min-height: 200px;

}

img{
    background-color: #ffb92f;
    border-radius: 50%;
    padding: 10px;
    margin: 3rem 0 0 9rem;
}

.container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content: center;
    gap: 1rem;
}

